.lifecycle {

    .itemsWrap {
        overflow: auto;
        font-family: "Source Code Pro", monospace;

        .itemWrap {
            position: relative;
            margin: 8px 8px;
            padding: 18px 10px 7px 10px;
            font-size: 14px;
            cursor: pointer;
            border-radius: 6px;
            border: 1px solid #383838;
            background-color: #26272a;

            &:hover {
                border: 1px solid #414141;
                background-color: #2a2b2e;
            }

            &.active {
                background-color: #1d1e20;
            }

            .iconSend {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                top: 5px;
                right: 5px;
                width: 32px;
                height: 32px;
                border-radius: 6px;
                border: 1px solid #414141;
                color: #7e7e7e;
                background-color: #222326;

                &:hover {
                    background-color: #19191b;
                }
            }

            .platformsWrap {
                position: absolute;
                display: flex;
                align-items: center;
                left: 10px;
                top: -5px;

                .platformItem {
                    margin-left: 4px;
                    padding: 2px 6px;
                    font-size: 11px;
                    border-radius: 6px;
                    border: 1px solid #383838;
                    color: rgb(193 193 193 / 50%);
                    background-color: #26272a;
                }
            }
        }
    }
}